@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  height: 100vh;
  background-color: rgb(248 250 252);
}

body {
  color: rgb(var(--foreground-rgb));
  /*background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));*/
  background-color: #f2f3f7;
  height: 100vh;
  font-family: 'Pretendard-Regular' !important;
}
body > div {
  height: 100vh;
}
header {
  background-color: #f9f9f9;
}
.banner-swiper {
  width: 100%;
  height: 200px;
  margin: 100px 0;
  background-color: #eee;
  z-index: -1;
}
.popular-swiper {
  width: 100%;
  margin: 10px 0 100px 0;
}

.swiper-slide {
  font-size: 16px;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-slide {
  border-radius: 20px;
  width: 302px;
}

.swiper-button-prev::after {
  display: none;
}
.swiper-button-next::after {
  display: none;
}
.swiper-button-prev {
  background: url(/img/arrow-left-s-line.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
  left: -100px;
  top: 0;
  position: absolute;
}

.swiper-button-next {
  background: url(/img/arrow-right-s-line.png) no-repeat;
  background-size: 50% auto;
  background-position: center;
}

.like-button > svg {
  width: 20px;
  height: 20px;
}

.slider-container {
  width: 302px;
  height: 132px;
}

.user > svg {
  width: 24px;
  height: 24px;
  color: #0051ff;
}
.viewer > svg {
  width: 22px;
  height: 22px;
  color: #818490;
}

.currnet-page {
  background-color: #0051ff;
  width: 24px;
  height: 24px;
  color: white;
}

.profile > svg {
  width: 20px;
  height: 20px;
  color: #0051ff;
}

.alternative-img {
  width: 380px;
  height: 320px;
  border: 1px solid #eee;
}
