@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  height: 100vh;
  background-color: rgb(248 250 252);
}

body {
  color: rgb(var(--foreground-rgb));
  /*background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));*/
  background-color: #f2f3f7;
  min-height: 100vh;
  font-family: 'Pretendard-Regular' !important;
  position: relative;
}

header {
  background-color: #f9f9f9;
}
input {
  font-size: inherit;
}
.main-wrapper {
  min-height: calc(100vh - 64px);
  padding-bottom: 64px;
  flex: 1;
}

.swiper-wrapper {
  position: relative;
}

.banner-swiper {
  width: 100%;
  height: 400px;
  background-color: #eee;
  z-index: -1;
  margin-bottom: 50px;
  text-align: center;
}
.popular-swiper {
  width: 100%;
  margin: 10px 0 100px 0;
}

.banner-slide {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#popular-slide {
  border-radius: 20px;
  height: 300px;
  padding-bottom: 30px;
}
#it-slide {
  border-radius: 20px;
  height: 300px;
}

.banner-swiper > .swiper-button-prev::after {
  color: white;
}
.banner-swiper > .swiper-button-next::after {
  color: white;
}
.popular-swiper > .swiper-button-prev::after {
  position: absolute;
  left: 0px;
}

.popular-swiper > .swiper-button-next::after {
  top: 0;
  position: absolute;
}

.swiper-pagination-bullet {
  background: white;
  display: inline-block;
  opacity: 0.7;
}

.like-button > svg {
  width: 20px;
  height: 20px;
}

.slider-container {
  width: 302px;
  height: 132px;
}

.user > svg {
  width: 24px;
  height: 24px;
  color: #0051ff;
}
.viewer > svg {
  width: 22px;
  height: 22px;
  color: #818490;
}

.currnet-page {
  background-color: #0051ff;
  width: 24px;
  height: 24px;
  color: white;
}

.profile > svg {
  width: 20px;
  height: 20px;
  color: #0051ff;
}

.alternative-img {
  width: 380px;
  height: 320px;
  border: 1px solid #eee;
}

.user-info > svg {
  width: 20px;
  height: 20px;
  color: #0051ff;
}

.icon {
  width: 20px;
  height: 20px;
}
