@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}

body {
  color: rgb(var(--foreground-rgb));
  /*background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));*/
  background-color: #f2f3f7;
  height: 100vh;
  font-family: 'Pretendard-Regular' !important;
}
body > div {
  height: 100vh;
}
header {
  background-color: #f9f9f9;
}
.banner-swiper {
  width: 100%;
  height: 200px;
  margin: 100px 0;
}
.popular-swiper {
  width: 100%;
  height: 200px;
  margin: 10px 0 100px 0;
}

.swiper-slide {
  text-align: center;
  height: 173px;
  font-size: 18px;
  background: #eee;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popular-slide {
  border-radius: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}
